<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Potatoz</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div id="app">
        <topbar></topbar>
        <console></console>
        <div class="row">
            <div class="col-sm-4">
                <resource-tab :resources="db.resources"></resource-tab>
            </div>
            <div class="col-sm-4">
                <tabs :tabs="db.tabs"></tabs>
                <div class="tab-content">
                    <div class="tab-pane fade w3-padding" id="potatoz-production">
                        <inc-resource-button resource="potatoz" by="1">Make Potato</inc-resource-button>
                        <per-second resource="potatoz" display="Potatoz"></per-second>
                        <trade-resource :resource="db.resources.patches" v-if="db.resources.patches.unlocked"></trade-resource>
                        <trade-resource :resource="db.resources.farms" v-if="db.resources.farms.unlocked"></trade-resource>
                        <trade-resource :resource="db.resources.potatoMud" v-if="db.resources.potatoMud.unlocked"></trade-resource>
                        <trade-resource :resource="db.resources.potatoHuts" v-if="db.resources.potatoHuts.unlocked"></trade-resource>
                        <trade-resource :resource="db.resources.potatainers" v-if="db.resources.potatainers.unlocked"></trade-resource>
                    </div>
                    <div class="tab-pane fade w3-padding" id="brain">
                        <h3>Brain:</h3>
                        <trade-resource :resource="db.resources.iq" v-if="db.resources.iq.unlocked"></trade-resource>
                        <per-second resource="thoughts" display="Thoughts" v-if="db.resources.thoughts.unlocked"></per-second>
                        <h3>Resources:</h3>
                        <trade-all :resource="db.convertAlls.thoughts"></trade-all>
                        <trade-slider :resource="db.tradeSliders.thoughts"></trade-slider>
                        <trade-resource :resource="db.resources.creativity" v-if="db.resources.creativity.unlocked"></trade-resource>
                        <trade-resource :resource="db.resources.ideas" v-if="db.resources.ideas.unlocked"></trade-resource>
                    </div>
                    <div class="tab-pane fade w3-padding" id="advanced-resources">
                        <trade-resource :resource="db.resources.clay" v-if="db.resources.clay.unlocked"></trade-resource>
                    </div>
                    <div class="tab-pane fade w3-padding" id="buildings">
                        <building :building="db.buildings.compostBins"></building>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Projects:</h3>
                <project-list :projects="db.projects" :project-key="db.projectKey"></project-list>
            </div>
        </div>
    </div>
    <script type="module" src="scripts/main.js"></script>
</body>

</html>